html {
  min-height: 100%;
}

body {
  margin: 0 0 0 160px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/img/triangle-bg.png);
  background-color: #fff;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* FORM STYLING */

form {
  padding: 20px;
  margin-top: 60px;
}

.article-form .input-field {
  margin: 0;
}

form button, form h5 {
  margin: 30px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input:not([type]).mce-textbox {
    width: inherit;
}

form #content {
  margin-top: 40px;
  border: solid 1px #9e9e9e;
  padding: 10px;
}

form #content:focus {
  border-color: #ec407a;
}

.publish-switch {
  margin-top: 15px;
}

form h5 {
  margin-bottom: 40px;
}

.rms-text__empty span {
  color: #9e9e9e !important;
  font-size: 1rem !important;
  font-weight: normal !important;
}

.rms-text>span {
  border-bottom: solid 1px #9e9e9e !important;
}

.rms-label {
  color: #9e9e9e !important;
}

.yes-button {
  margin-right: 5px !important;
}

.validation-text {
  color: red;
  font-size: 0.8rem;
}


/* Navigation */

.user-view .pink {
  cursor: default;
}

.sidenav-fixed {
  width: 180px;
}

.sidenav-fixed i,
.signedIn-sidenav .dropdown-trigger i {
  margin-right: 10px !important;
}

.sidenav-fixed>li:nth-child(1) {
  height: 64px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.sidenav-fixed>li:nth-child(1)>img {
  width: 75%;
}

.signedIn-sidenav .user-view .background {
  height: 120px;
}

.signedIn-sidenav>li:first-child {
  height: 120px;
  margin-bottom: 10px;
}

nav .brand-logo i {
  line-height: inherit;
  font-size: 1em;
  margin-right: 5px !important;
}


/* Dashboard */

.unpublished-container {
  margin: 7px 0 !important;
}

.unpublished {
  padding: 3px 5px;
}

.dashboard-department-title {
  padding: 5px 15px;
  word-wrap: break-word;
  opacity: 0.8;
}

.summary-department-text {
  opacity: 0.8;
}

/* Details Page */

.details-department {
  margin: 10px 20px 15px 20px;
}

/* User Articles Page */

.button-spacing {
  margin-right: 8px;
}

.buttons-container {
  display: flex;
}

/* Manage Speakers */

.speakers .col {
  width: 100%;
}

.speakers i {
  font-size: inherit;
}

.speakers th:not(:nth-child(5)) {
  cursor: pointer;
}

/* Create Speaker */

.speaker-form .input-field {
  margin-top: 20px;
}

.speaker-form #content {
  margin-top: 60px;
}

.speaker-form #modal-label {
  transform: translateY(-32px);
}

.dropzone-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 65px;
  transform: translateY(42px);
}

.dropzone-container>div {
  margin: 20px;
}

.dropzone-container>div:nth-child(1) {
width: 20%;
}

.dropzone-container>div:nth-child(2) {
width: 70%;
}

.headshot-img {
  max-width: 100%;
}


/* Media Queries */

@media all and ( max-width: 992px ) {
  body {
    margin: 0;
  }
}