html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/img/triangle-bg.png);
  background-color: #fff;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* FORM STYLING */

form {
  padding: 20px;
  margin-top: 60px;
}

.article-form .input-field {
  margin: 0;
}

form button, form h5 {
  margin: 30px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input:not([type]).mce-textbox {
    width: inherit;
}

form #content {
  margin-top: 40px;
  border: solid 1px #9e9e9e;
  padding: 10px;
}

form #content:focus {
  border-color: #ec407a;
}

.publish-switch {
  margin-top: 15px;
}

form h5 {
  margin-bottom: 40px;
}

.rms-text__empty span {
  color: #9e9e9e !important;
  font-size: 1rem !important;
  font-weight: normal !important;
}

.rms-text>span {
  border-bottom: solid 1px #9e9e9e !important;
}

.rms-label {
  color: #9e9e9e !important;
}

.yes-button {
  margin-right: 5px !important;
}


/* Navigation */

#nav-logo {
  height: 40px;
}

.signedIn-sidenav .user-view .background {
  height: 120px;
}

.signedIn-sidenav>li:first-child {
  height: 120px;
  margin-bottom: 10px;
}

.logo {
    display: inline-block;
    transform: translateY(-2px)
}

.logo>img {
    vertical-align: middle;
    padding-bottom: 3px;
}


/* Dashboard */

.unpublished-container {
  margin: 7px 0 !important;
}

.unpublished {
  padding: 3px 5px;
}

.dashboard-department-title {
  padding: 5px 15px;
  word-wrap: break-word;
  opacity: 0.8;
}

.summary-department-text {
  opacity: 0.8;
}

/* Details Page */

.details-department {
  margin: 10px 20px 15px 20px;
}

/* User Articles Page */

.button-spacing {
  margin-right: 8px;
}

.buttons-container {
  display: flex;
}